@checked-color: #228729;
@checkbox-height: 20px;
@duration: .4s;
@lightBorderColor: lightgrey;

/* Checkmark style starts */
@-moz-keyframes bottom-check {
  0% {
    height: 0;
  }
  100% {
    height: @checkbox-height/2;
  }
}

@-webkit-keyframes bottom-check {
  0% {
    height: 0;
  }
  100% {
    height: @checkbox-height/2;
  }
}

@keyframes bottom-check {
  0% {
    height: 0;
  }
  100% {
    height: @checkbox-height/2;
  }
}

@keyframes top-check {
  0% {
    height: 0;
  }
  50% {
    height: 0;
  }
  100% {
    height: @checkbox-height * 1.2;
  }
}

@-webkit-keyframes top-check {
  0% {
    height: 0;
  }
  50% {
    height: 0;
  }
  100% {
    height: @checkbox-height * 1.2;
  }
}

@-moz-keyframes top-check {
  0% {
    height: 0;
  }
  50% {
    height: 0;
  }
  100% {
    height: @checkbox-height * 1.2;
  }
}

label.check-box {
  margin: 5px 10px;
  height: @checkbox-height;
  width: @checkbox-height;
  background-color: transparent;
  border: 1px @lightBorderColor solid;
  position: relative;
  display: inline-block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: border-color ease @duration/2;
  -o-transition: border-color ease @duration/2;
  -webkit-transition: border-color ease @duration/2;
  transition: border-color ease @duration/2;
  cursor: pointer;

  &::before, &::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    height: 0;
    width: @checkbox-height * .2;
    background-color: @checked-color;
    display: inline-block;
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -o-transform-origin: left top;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    border-radius: 5px;
    content: ' ';
    -webkit-transition: opacity ease .5s;
    -moz-transition: opacity ease .5s;
    transition: opacity ease .5s;;
  }

  &::before {
    top: @checkbox-height * .72;
    left: @checkbox-height * .41;
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }

  &::after {
    top: @checkbox-height * .37;
    left: @checkbox-height * .05;
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  & > span.label {
    margin: @checkbox-height * 1.5;
  }
}

input[type=checkbox]:checked + label.check-box, label.check-box.checked {
  border-color: @checked-color;

  &::after {
    height: @checkbox-height * .5;
    -moz-animation: bottom-check @duration/2 ease 0s forwards;
    -o-animation: bottom-check @duration/2 ease 0s forwards;
    -webkit-animation: bottom-check @duration/2 ease 0s forwards;
    animation: bottom-check @duration/2 ease 0s forwards;
  }

  &::before {
    height: @checkbox-height * 1.2;
    -moz-animation: top-check @duration ease 0s forwards;
    -o-animation: top-check @duration ease 0s forwards;
    -webkit-animation: top-check @duration ease 0s forwards;
    animation: top-check @duration ease 0s forwards;
  }
}