@chatBarHeight: 60px;
@headerHeight: 40px;
@popoutIndicatorSize: 15px;

@import "common";
@import "client-common";

.content {
  width: 100%;
  flex-flow: column;
  font-size: 1.25em;

  #alerts {
    right: 60px;
    top: 40px;
  }

  & > div#header {
    display: flex;
    height: @headerHeight;
    flex-flow: row;
    align-items: center;
    justify-content: end;
    color: white;
    padding: 0 15px;

    & .fas, & .far, & .fab {
      font-size: 1.5em;
    }
  }

  .main {
    flex: 1 0 auto;
    height: calc(100% - @headerHeight);
    background-color: white;

    .chat-bar > .button > .popout-option .form-group {
      &:not(:first-child) {
        margin-top: @elementPadding;
      }

      & > label, & > input {
        flex: 0 0 auto;
      }

      & > button {
        flex: 1 0 auto;
      }

      & > .form-element {
        flex: 1 0 auto;
        display: flex;
        align-items: center;
      }
    }
  }

  #emoji_list {
    max-height: 200px;
    overflow-y: auto;
  }

  .popout-menu {
    .popout-menu();

    top: 0;
    right: -80%;
    bottom: 0;
    width: 80%;
  }
}