@chatBarHeight: 60px;
@headerHeight: 40px;
@popoutIndicatorSize: 15px;

@import "common";
@import "client-common";

#header {
  height: @headerHeight;
}

.content {
  width: 100%;
  flex-flow: column;
  font-size: 1.25em;

  .main {
    flex: 1 0 auto;
    height: calc(100% - @headerHeight);
    background-color: white;

    .chat-bar > .button > .popout-option .form-group {
      &:not(:first-child) {
        margin-top: @elementPadding;
      }

      & > label, & > input {
        flex: 0 0 auto;
      }

      & > button {
        flex: 1 0 auto;
      }

      & > .form-element {
        flex: 1 0 auto;
        display: flex;
        align-items: center;
      }
    }
  }

  #emoji_list {
    max-height: 200px;
    overflow-y: auto;
  }

  .popout-menu {
    .popout-menu();
  }
}