.overlay {
  position: fixed;
  height: 100vh;
  width: 100vw;
  display: flex;
  z-index: 99;
  background-color: fade(#4A4A5A, 35%);
  align-items: center;
  justify-content: center;

  & > .modal {
    background-color: white;
    min-width: 300px;
    min-height: 50px;
    display: flex;
    z-index: 100;
    flex: 0 1 auto;
    flex-direction: column;
    padding: 10px 20px;
    margin: 10px;
    align-self: center;
    align-items: center;

    h1 {
      margin-bottom: 29px;
    }

    .form-element {
      margin: 10px 0;
    }

    input {
      margin: 0
    }

    button {
      margin: 10px 0;

      &:not(.secondary) {
        float: right;
      }
    }

    .form-group, .form-element {
      width: 400px;
    }
  }
}
