.colorpicker {
    /*eight squares with margins*/
    width: 328px;
    display: block;
}

.color-block {
    width: 25px;
    height: 25px;
    border-radius: 4px;
    display: inline-block;
    margin: 8px 8px;
    cursor: pointer;
}

.selected-color {
    border: black 3px solid;
    width: 19px;
    height: 19px;
}

@media screen and (max-device-width: 480px) {
    .colorpicker {
        width: 100%;
    }

    .color-block {
        width: 75px;
        height: 75px;
    }

    .selected-color {
        width: 69px;
        height: 69px;
    }
}

