<div class="modal" id="imageInput">
    <div class="modal-header">
        <span class="modal-title">Enter URL:</span>
        <i class="fa fa-close" onclick="toggleModal('{{ modalName }}')"></i>
    </div>
    <div class="modal-content">
        <div class="modal-body">
            <input type="url" id="img_url"/>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="modal-submit" onclick="imageChat()">
            Send
        </button>
        <button class="modal-cancel" type="button" onclick="toggleModal('imageInput')">
            Cancel
        </button>
    </div>
</div>