<div id="information" class="modal">
    <div class="modal-header">
        <span class="modal-title">Information</span>
        <span class="close-icon fa fa-close" onclick="toggleModal('information')"></span>
    </div>

    <div class="modal-content">
        <div class="tabs" id="information_tabs">
            <div class="tab active" id="information_0" onclick="changeTab('information', 0)">Help me!</div>
            <div class="tab" id="information_1" onclick="changeTab('information', 1)">Recent Updates</div>
        </div>

        <div class="tab-content" id="information_0_content">
            <p>Create a room with the + button next to the tabs. Only the invited will have access to the room!</p>
            <p>If you leave a room, you need to be invited back.</p>
            <p>
                Only the owner can delete a room. Once deleted, a room can <b>never</b> come back!
                Really, never. It's impossible.
            </p>
            <b>Private messaging:</b>
            <dl>
                <dt>/tell &lt;username&gt;</dt>
                <dt>/t &lt;username&gt;</dt>
                <dd>send a private message</dd>
                <dt>/reply</dt>
                <dt>/r</dt>
                <dd>reply to the last private message you received</dd>
                <dt>/retell</dt>
                <dt>/rt</dt>
                <dd>send a private message to the last person you sent one to</dd>
            </dl>
        </div>

        <div class="tab-content" id="information_1_content">
            {% include 'info_log.html' %}
        </div>
    </div>

    <div class="modal-footer">
        <button class="modal-submit" type="button" onclick="toggleModal('information')">
            Amazing!
        </button>
    </div>
</div>

