{% set modalName = 'userSettings' %}

<div id="{{ modalName }}" class="modal">
    <form id="update-user" action="">
        <div class="modal-header">
            <span class="modal-title">User preferences</span>
            <i class="fa fa-close" onclick="toggleModal('{{ modalName }}')"></i>
        </div>
        <div class="modal-content">
            <div class="form-group">
                <label for="set_name">Display name:</label>
                <input type="text" name="set_name" id="set_name"
                       placeholder="Username"/>
            </div>
            <div class="form-group">
                <label>Sound:</label>
                <div class="form-element">
                    <div title="Volume" id="volume-button">
                        <span class="fa-stack fa">
                            <i class="fa fa-volume-up fa-stack-2x"></i>
                        </span>
                    </div>
                    <div>
                        <input id="volume-slider" type="range" title="volume"/>
                    </div>
                    <input type="radio" name="sounds-radios" id="aimSounds" value="AIM" checked>
                    <label for="aimSounds">
                        AIM
                    </label>
                    <input type="radio" name="sounds-radios" id="msnSounds" value="MSN">
                    <label for="msnSounds">
                        MSN
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label for="color">Color:</label>
                <div name="color" id="color"></div>
            </div>
            <div class="form-group">
                <label>Faction:</label>
                <input type="radio" name="faction" id="rebelFaction" value="rebel" checked>
                <label for="rebelFaction">
                    Rebel Alliance
                </label>
                <input type="radio" name="faction" id="empireFaction" value="empire">
                <label for="empireFaction">
                    Galactic Empire
                </label>
            </div>
            {{ xsrf_form_html() }}
        </div>
        <div class="modal-footer">
            <button class="modal-cancel" type="button" onclick="toggleModal('{{ modalName }}')">
                Cancel
            </button>
            <button class="modal-submit" type="submit">
                Save changes
            </button>
        </div>
    </form>
</div>