bcrypt==3.1.7
boto3>=1.4
itsdangerous==0.24
Jinja2==2.7.3
lesscpy==0.13.0
MySQL-python==1.2.5
python-engineio==1.0.3
python-socketio==1.6.0
requests==2.8.*
sockjs-tornado==1.0.3
Tornado>=2.1,<4
torndb==0.3
