<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ title }} | Best Evar Chat 3.0</title>

    <script type="application/javascript">
        const new_location = "{{ location }}";
        if (new_location) {
            history.replaceState('', '', new_location);
        }
    </script>
    {% block includes %}
    {% endblock %}
    <link id="favicon" rel="shortcut icon" type="image/png" href="/static/favicon.png"/>
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
</head>
<body>
<div class="content">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>
