{% extends "base.html" %}

{% set title = 'Register for Best evar Chat 2.0!' %}

{% block content %}

    {% if error %}
        <span style="color: red">Error: {{ error }}</span><p>
    {% endif %}
    <div class="login">
        <form action="/register" method="POST">
            <div class="form-group">
                <div class="form-element">
                    <label for="parasite">Username</label>
                    <input type=text name="parasite" id="parasite"/>
                </div>
                <div class="form-element">
                    <label for="email">Email</label>
                    <input type=email name="email" id="email"/>
                </div>
                <div class="form-element">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password"/>
                </div>
                <div class="form-element">
                    <label for="password2">Confirm Password</label>
                    <input type="password" name="password2" id="password2"/>
                </div>
                {{ xsrf_form_html() }}
            </div>
            <div>
                <button class="primary" type="submit">Register</button>
                <a href="/login">I already did this! Go login</a>
            </div>
        </form>
    </div>

{% endblock %}