{% extends "base.html" %}

{% set title = 'Forgot Password' %}

{% block includes %}
<link rel="stylesheet" href="static/dist/login.css" type="text/css"/>
{% endblock %}

{% block content %}
<div class="login">
    <h1>Forgot Password</h1>
    <p>
        Enter your username to have a password reset link sent to your email.
    </p>
    <div class="message {{'error' if error}}">
        {% if error %}
        {{error}}
        {% elif message %}
        {{message}}
        {% endif %}
    </div>
    <form action="/forgot_password" method="POST">
        <div class="form-group">
            <div class="form-element">
                <label for="parasite">Username</label>
                <input type=text name="parasite" id="parasite" required/>
            </div>
        </div>
        {{ xsrf_form_html() }}
        <div class="form-element">
            <div class="flex-spacer"></div>
            <button class="primary" type="submit">Reset</button>
        </div>
        <a href="/login">&lt; Wait, I remember it...</a>
    </form>
</div>

{% endblock %}