{% extends "base.html" %}

{% set title = 'Forgot password for Best evar Chat 2.0!' %}

{% block content %}

    {% if error %}
        <span style="color: #DD2222">Error: {{ error }}</span><p>
    {% endif %}
    <div class="login">
        <form action="/forgot_password" method="POST">
            <div class="form-group">
                <div class="form-element">
                    <label for="parasite">Username</label>
                    <input type=text name="parasite" id="parasite"/>
                </div>
            </div>
            {{ xsrf_form_html() }}
            <div>
                <button class="primary" type="submit">Send me an email!</button>
            </div>
        </form>
    </div>

{% endblock %}