{% extends 'base.html' %}

{% block includes %}
<!-- external scripts -->
<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.3/js.cookie.min.js"></script>
<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
<script src="//twemoji.maxcdn.com/2/twemoji.min.js?2.3.0"></script>
<!-- internal scripts -->
<script src="/static/dist/client.js"></script>
{% endblock %}

{% block content %}
<div id="alerts"></div>

<div class="left">
    <div id="current-user" class="active">
        <span class="online-status"></span>
        <span class="my-username"></span>
        <span>
            <span class="fa fa-fw fa-caret-down"></span>
                <div class="popout-menu">
                    <span class="menu-item"><span class="fa fa-fw fa-user-circle-o"></span>User Settings</span>
                    <span class="menu-item"><span class="fa fa-fw fa-cogs"></span>Account Settings</span>
                    <span class="menu-item"><span class="fa fa-fw fa-desktop"></span>Client Settings</span>
                    <span class="menu-item"><span class="fa fa-fw fa-question"></span>About</span>
                    <span class="menu-item"><span class="fa fa-fw fa-sign-out"></span>Log Out</span>
                </div>
        </span>
    </div>
    <div id="user-list"></div>
    <div id="room-list">
        <div class="rooms-header">
            <span>Rooms</span>
            <span id="add-room" class="fa fa-fw fa-plus"></span>
        </div>
    </div>
</div>
<div class="right">
    <div id="log"></div>

    <div class="chat-bar">
        <input type="text" placeholder="..." tabindex="0"/>
        <div class="button">
            😃
            <div class="popout-option">
                <table>
                    {% for emojis in emoji_list | batch(12) %}
                    <tr>
                        {% for emoji in emojis %}
                        <td>
                            <span>{{ emoji }}</span>
                        </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>
                <div class="popout-indicator"></div>
            </div>
        </div>
        <div class="button">
            <span class="fa fa-fw fa-picture-o"></span>
            <div class="popout-option">
                <div class="form-group">
                    <label for="image_url">
                        Image url:
                    </label>
                    <input id="image_url" name="url" type="url" tabindex="1"/>
                    <label>NSFW:</label>
                    <input id="image_nsfw" name="nsfw" type="checkbox"/>
                    <label class="check-box" for="image_nsfw" tabindex="1"></label>
                    <button id="image_chat_button" type="button" tabindex="1">Send</button>
                </div>
                <div class="popout-indicator"></div>
            </div>
        </div>
    </div>

</div>

<div class="overlay"></div>
{% endblock %}
