{% extends "base.html" %}
{% block includes %}
    <link rel="stylesheet" href="static/js/colorpicker/colorpicker.css" type="text/css"/>

    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.3/js.cookie.min.js"></script>
    <script src="//twemoji.maxcdn.com/2/twemoji.min.js?2.3.0"></script>

    <script type="text/javascript" src="static/js/colorpicker/colorpicker.js"></script>
    <script type="text/javascript" src="/static/js/sounds_handler.js"></script>
    <script type="text/javascript" src="/static/js/validators.js"></script>
    <script type="text/javascript" src="/static/js/sockjs_client.js"></script>
{% endblock %}

{% block content %}


    <div class="header">
        <span class="fa fa-2x fa-fw fa-bars" id="menu-button" onclick="toggleMenu()"></span>
        <div class="tabs">
            <span class="fa fa-fw fa-plus" id="create-room-button" onclick="toggleModal('newRoom')"></span>
        </div>
    </div>

    <div id="log"></div>

    <div class="right_bar">
        <div id="user_list"></div>
    </div>

    <div class="chat-bar">
        <div class="button first" id="username" onclick="setUsername()">
            <span id="username_display"> you:</span>
        </div>
        <input class="not-first" type="text" name="chat_text" id="chat_text" placeholder="..."
               onkeydown="submitChat(event)" autocomplete="off" onfocus="$('#emoji-list').hide(); $('#menu').hide();"/>
        <div class="button not-first" id="toggle-emojis" onclick="toggleEmojiList()">
            😃
        </div>
        <div class="button last" onclick="showImageInput()">
            <span class="fa fa-picture-o"></span>
        </div>
    </div>

    <div id="emoji-list">
        <table>
            {% for emojis in emoji_list | batch(12) %}
                <tr>
                    {% for emoji in emojis %}
                        <td>
                            <span onclick="toggleEmojiList(); addEmoji('{{ emoji }}')">{{ emoji }}</span>
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>

    <div id="menu">
        <span class="menu-item" onclick="toggleMenu(); setUsername()">
            <span class="fa fa-fw fa-user-circle-o"></span>
            User Settings
        </span>
        <span class="menu-item" onclick="toggleMenu(); toggleModal('accountSettings')">
            <span class="fa fa-fw fa-cogs"></span>
            Account Settings
        </span>
        <span class="menu-item disabled" id="room-settings-menu" onclick="toggleMenu(); toggleModal('roomSettings')">
            <span class="fa fa-fw fa-users"></span>
            Room Settings
        </span>
        <span class="menu-item" onclick="toggleMenu(); toggleModal('information')">
            <span class="fa fa-fw fa-question"></span>
            About
        </span>
        <span class="menu-item" onclick="logout()">
            <span class="fa fa-fw fa-sign-out"></span>
            Log out
        </span>
    </div>

    <!-- Modals -->
    <div id="overlay">
        {% include 'modals/user_settings.html' %}

        {% include 'modals/account_settings.html' %}

        {% include 'modals/connection_error.html' %}

        {% include 'modals/image_input.html' %}

        {% include 'modals/information.html' %}

        {% include 'modals/new_room_modal.html' %}
    </div>


{% endblock %}