<h4>Saturday, May 28th, 2018</h4>
<h3>You can have your dream username</h3>
<p>Are you tired of a having a <b>boring</b> username just like <em>everyone else</em>?</p>
<p>Well, you're in luck!</p>
<p>Introducting UNICODE USERNAMES!</p>
<p>Now you can be 🚀, 🍍, 🍌, or even (っ◔◡◔)っ ♥ 🍰 ♥</p>
<p>The world is your oyster!</p>

<h4>Saturday, October 21st, 2017</h4>
<h3>Best Evar Chat 2.0!</h3>
<p>It's finally here!</p>
<ul>
    <li>You can now create private rooms!</li>
    <li>There's more emojis to choose from!</li>
    <li>The color choices have been updated!</li>
    <li>There are more settings available! Some of them are only for your current session, like font size, hiding images,
        changing the tab title, and enabling the profamity filter!</li>
    <li>When you send an image, you can let everyone know it's NSFW!! Good times.</li>
</ul>