<h4>Saturday, October 21st, 2017</h4>
<h3>Best Evar Chat 2.0!</h3>
<p>It's finally here!</p>
<ul>
    <li>You can now create private rooms!</li>
    <li>There's more emojis to choose from!</li>
    <li>The color choices have been updated!</li>
    <li>There are more settings available! Some of them are only for your current session, like font size, hiding images,
        changing the tab title, and enabling the profamity filter!</li>
    <li>When you send an image, you can let everyone know it's NSFW!! Good times.</li>
</ul>