{% extends "base.html" %}

{% set title = 'Login to Best evar Chat 2.0!' %}

{% block content %}
{% if error %}
<span style="color: red">Error: {{ error }}</span><p>
    {% endif %}
<div class="login">
    <form action="/login" method="POST">
        <div class="form-group">
            <div class="form-element">
                <label for="parasite">Username</label>
                <input type=text name="parasite" id="parasite"/>
            </div>
            <div class="form-element">
                <label for="password">Password</label>
                <input type="password" name="password" id="password"/>
            </div>
        </div>
        {{ xsrf_form_html() }}
        <div>
            <button class="primary" type="submit">Login</button>
            <a href="/register">Register</a>
            <a href="/forgot_password">I forgot my password!</a>
        </div>
    </form>
</div>
{% endblock %}