{% extends 'base.html' %}

{% set title = "Loading..." %}

{% block includes %}
<link rel="stylesheet" href="/static/mobile-style.css" type="text/css"/>
<script src="/static/mobile.js"></script>
{% endblock %}

{% block content %}
<div id="alerts"></div>

<div id="header">
    <span>
        <span class="fas fa-fw fa-bars" id="main_menu"></span>
        <div class="popout-menu">
            <span class="menu-item" id="logout">
                <span class="fas fa-fw fa-sign-out-alt"></span>
                Logout
            </span>
            <div id="current-user" class="active">
                <span class="online-status"></span>
                <span class="list-content"></span>
            </div>
            <div id="user-list"></div>
            <div id="room-list"></div>
        </div>
    </span>
</div>

<div class="main">
    <div id="log"></div>

    <div class="chat-bar">
        <input type="text" placeholder="..." tabindex="0"/>
        <div class="button">
            😃
            <div class="popout-option">
                <div id="emoji_list">
                    <table>
                        {% for emojis in emoji_list | batch(9) %}
                        <tr>
                            {% for emoji in emojis %}
                            <td>
                                <span>{{ emoji }}</span>
                            </td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="popout-indicator"></div>
            </div>
        </div>
        <div class="button">
            <span class="far fa-fw fa-image"></span>
            <div class="popout-option">
                <div class="form-group">
                    <label for="image_url">
                        Image url:
                    </label>
                    <input id="image_url" name="url" type="url" tabindex="1"/>
                </div>
                <div class="form-group">
                    <div class="form-element">
                        <label>NSFW:</label>
                        <input id="image_nsfw" name="nsfw" type="checkbox"/>
                        <label class="check-box" for="image_nsfw" tabindex="1"></label>
                    </div>
                    <button id="image_chat_button" type="button" tabindex="1">Send</button>
                </div>
                <div class="popout-indicator"></div>
            </div>
        </div>
    </div>
</div>

<div class="overlay"></div>
{% endblock %}
