{% extends "base.html" %}

{% set title = 'Reset password' %}

{% block includes %}
<link rel="stylesheet" href="/static/login-style.css" type="text/css"/>
{% endblock %}

{% block content %}

<div class="login">
    <h1>Reset Password</h1>
    <div class="message {{'error' if error}}">
        {% if error %}
        {{error}}
        {% elif message %}
        {{message}}
        {% endif %}
    </div>
    <form action="/reset_password" method="POST">
        <div class="form-group">
            <div class="form-element">
                <label for="password">Password</label>
                <input type="password" name="password" id="password"/>
            </div>
            <div class="form-element">
                <label for="password2">Confirm</label>
                <input type="password" name="password2" id="password2"/>
            </div>
        </div>
        <input type="hidden" name="token" value="{{ token }}"/>
        {{ xsrf_form_html() }}
        <div class="form-element">
            <div class="flex-spacer"></div>
            <button class="primary" type="submit">Reset</button>
        </div>
    </form>
</div>

{% endblock %}