{% extends "base.html" %}
{% block content %}

{% if error %}
<span style="color: red">Error: {{ error }}</span><p>
    {% endif %}
<div class="login">
    <form action="/reset_password" method="POST">
        <div class="form-group">
            <div class="form-element">
                <label for="password">Password</label>
                <input type="password" name="password" id="password"/>
            </div>
            <div class="form-element">
                <label for="password2">Confirm Password</label>
                <input type="password" name="password2" id="password2"/>
            </div>
        </div>
        <input type="hidden" name="token" value="{{ token }}" />
        {{ xsrf_form_html() }}
        <div>
            <button class="primary" type="submit">Reset my password!</button>
        </div>
    </form>
</div>

{% endblock %}